<br>
<select #myselect [(ngModel)]="dogBreed" class="selOptn"(change)="displaySubBreedList(myselect.value)">
    <option> Choose a Dog Breed </option>
    <option *ngFor='let d of dog; index as i' [value]="d">
        {{d}}       
    </option>
    
</select><br><br>

<select #mysubselect *ngIf="show" [(ngModel)]="subDogBreed" class="selOptn" (change)="displaySubBreedImg(mysubselect.value)">
    <option> Choose a Sub Dog Breed </option>
    <option *ngFor='let d of subDogBreed; index as i' [value]="d">
        {{d}}       
    </option>    
</select>
<br><br>
<img *ngIf="!show" src="{{image}}" crossorigin="anonymous">
<img *ngIf="show" src="{{image}}" crossorigin="anonymous">
